    

@keyframes ani {
    0% { opacity: 0;}
    100% {opacity: 0.9;}
}
@keyframes hrall{
0% { transform: rotate(0deg)}
100% {transform: rotate(90deg);}
}
html{
    object-fit:cover;
    width: 1920px;
font-size: 20px;
}
#coffee{

    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -9999;
    }
body{
    opacity: 0;
        animation: ani 1s forwards;
    margin:0px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.692);
    object-fit: cover;
}
header{
    object-fit: cover;
    height: 75px;
    width: 1920px;
    background-color: rgba(151, 111, 24, 0.178);
    border-bottom:1px solid white;
    background-image: url("../image/Patick.png");
    background-repeat: no-repeat;
    background-size: 4em;
    background-position: 6em 3em;
    transition: 0.5s;
    animation: cat 20s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
}

@keyframes cat{
    10%{background-position: 6em 2em;}
    15%{background-position: 6em 3em;}
    16%{background-position: 6em -0.3em;}
    95%{background-position: 6em -0.3em;}
    100%{background-position: 6em 3em;}
}
h2,h3,h4,h5,h6{
    color: aliceblue;
    font-family: 'Carattere', cursive;
    font-size: 35px;
    transition: 1s;
}
h1{
position: absolute;
left:770px;
top:5px;
    font-family: 'MonteCarlo', cursive;
    margin:0px;
    padding:0px;
    color: aliceblue;
    width: 500px;
}
body header .language{
    position: absolute;
    top:25px;
    left:1595px;
    width: 120px;

}
ol{
    border:1px solid rgb(255, 252, 252);
    margin-top:40px;
    margin-left: 40px;
border-radius: 15px;
width: 12em;
padding:0px;
position: sticky;
top:40px;
animation: ani 2s;
}
ol li{
    color:aliceblue;
    list-style: none;
    border:1px solid white;
    border-radius: 10px;
    margin:50px;
    padding:15px;
    text-align: center;
    background-color: rgb(58, 25, 25);
    font-family: 'Sail', cursive;
    height: 27px;
        transition: 0.5s;
}
ol li:hover{
    transform: scale(1.1);
                box-shadow: 0px 0px 20px rgb(255, 174, 0);
                    background-color: rgba(218, 11, 11, 0.5);
}
a{
    color: rgb(240, 248, 255);
    text-decoration: none;
        transition: 0.5s;
        padding:17px 0px 24px 0px;
}
a:hover{
    color: rgb(253, 196, 8);
}
footer{
    height: 95px;
    width: 1920px;
    background-color: rgba(151, 111, 24, 0.178);
    border-top:1px solid white;
    position:absolute;
    bottom: auto;
    margin-top:150px;
    
}

video{
    max-width: 100%;
        max-height: auto;
        object-fit: cover;
}

.shapka{
    position: absolute;
        top: 25px;
        left: 1700px;
        display: flex;
}
                /*Медия прописываем в конце всех стилей, в противном случае он будет перебивать остальные стили. Landscape tablets and medium desktops */
                @media screen and (max-width: 1200px){
                    #coffee{visibility: hidden;display: none;}
                    html,body{background-image: url(../image/coffee5.jpg);
                    background-size:contain;}
                
                }
        
        
        
                /* Landscape phones and portrait tablets */
                @media screen and(max-width: 998px) { {}
                
                    }
                            
                
                @media screen and(min-width:300px) and (max-width: 576px) {
                }                
                @media screen and(max-width: 768px) 
        
        
